html {
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-image:url("img/asbtract.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#botonmargen {
    text-align: center;
    width: auto;
    margin: 4rem;
    padding:0px;
}
#botones button {
    background-color: rgba(45, 72, 88, 0.473);
    border-radius: 5px;
    align-content: center;
    margin-right: 40px; /* Separación entre botones */
    padding: 5px;
    color: aqua;
    box-shadow: 2px 2px 10px rgba(224, 215, 215, 0.3);
}

#botones button:last-child {
    margin-right: 0; /* Elimina la separación del último botón */
}
#botones :hover {
    background-color: #804b4b;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.container{
    width: 60rem;
    margin: auto;
    padding: 1rem;
    color: aliceblue;
}

#name {
    width:30rem;
    font-size: 2em;
    float: left;
}
#job {
    font-size: 2em;
    float: right;
}

#name, #job {
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: rgba(62, 71, 77, 0.273);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px; /* Ajusta el relleno según sea necesario */
    text-align: center; /* Alinea el contenido al centro */
}

a {
    text-decoration: none; /* Quita el subrayado del enlace */
    transition: box-shadow 0.3s ease;
    color:cyan;
}
 
a:hover {
    color:chocolate;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#sobremi {
    text-align: justify;
    font-size: 25px;
}

#table1 {
    text-align: justify;
    max-width: 80%;
    position: fixed;
    top: 45%;
    left: 60%;
    transform:translateX(-50%);
    align-items:center;
    padding-bottom: 0px;
    color: aliceblue;
}
ul {
    list-style-type:circle;
}

div ol li {
    padding: 2rem;
    padding-bottom:0;
}

#exp {
    font-size: 20px;
    text-align: justify;
}

#otrosP {
    font-size: 24px;
    text-align: justify;
}

#redlin {
    margin-top: 110px;
    margin-left: 170px;
    width: 200px;
}

#correoContacto {
    text-align: center;
}
